<a href="https://colab.research.google.com/github/yadavrahyl2k15/dealing-with-missing-values/blob/master/Dealing_with_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ONE HOT ENCODING WITH MULTI CATEGORIES

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/test.csv")

In [ ]:
df.head()

   ID  X0 X1  X2 X3 X4 X5 X6  ... X377  X378  X379  X380  X382  X383  X384  X385
0   1  az  v   n  f  d  t  a  ...    0     1     0     0     0     0     0     0
1   2   t  b  ai  a  d  b  g  ...    1     0     0     0     0     0     0     0
2   3  az  v  as  f  d  a  j  ...    0     1     0     0     0     0     0     0
3   4  az  l   n  f  d  z  l  ...    0     1     0     0     0     0     0     0
4   5   w  s  as  c  d  y  i  ...    0     0     0     0     0     0     0     0

[5 rows x 377 columns]

In [ ]:
df=pd.read_csv("/content/test.csv",usecols=['X0','X1','X2','X3','X4','X5'])

In [ ]:
df.head(5)

   X0 X1  X2 X3 X4 X5
0  az  v   n  f  d  t
1   t  b  ai  a  d  b
2  az  v  as  f  d  a
3  az  l   n  f  d  z
4   w  s  as  c  d  y

In [ ]:
for col in df.columns:
  print(col,":",len(df[col].unique()),'labels')

X0 : 49 labels
X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels

In [ ]:
pd.get_dummies(df,drop_first=True).shape

(4209, 158)

KDD ORANGE

In [ ]:
df.X2.value_counts().sort_values(ascending=False).head(20)

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
Name: X2, dtype: int64

In [ ]:
top_10=[x for x in df.X2.value_counts().sort_values(ascending=False).head(10).index]
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [ ]:
for label in top_10:
  df[label]=np.where(df['X2']==label,1,0)
df[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0    n   0   0   0  0   0  0  1  0  0  0
1   ai   0   0   1  0   0  0  0  0  0  0
2   as   1   0   0  0   0  0  0  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4   as   1   0   0  0   0  0  0  0  0  0
5   ai   0   0   1  0   0  0  0  0  0  0
6   ae   0   1   0  0   0  0  0  0  0  0
7   ae   0   1   0  0   0  0  0  0  0  0
8    s   0   0   0  0   0  0  0  1  0  0
9   as   1   0   0  0   0  0  0  0  0  0
10   s   0   0   0  0   0  0  0  1  0  0
11   b   0   0   0  0   0  0  0  0  0  0
12   e   0   0   0  0   0  0  0  0  0  1
13  ae   0   1   0  0   0  0  0  0  0  0
14  ak   0   0   0  0   1  0  0  0  0  0
15   e   0   0   0  0   0  0  0  0  0  1
16   s   0   0   0  0   0  0  0  1  0  0
17   e   0   0   0  0   0  0  0  0  0  1
18  ai   0   0   1  0   0  0  0  0  0  0
19  as   1   0   0  0   0  0  0  0  0  0
20   e   0   0   0  0   0  0  0  0  0  1
21   e   0   0   0  0   0  0  0  0  0  1
22  ai   0   0   1  0   0  0  0  0  0  0
23   e   0   0   0  0   0  0  0  0  0  1
24  ai   0   0   1  0   0  0  0  0  0  0
25   s   0   0   0  0   0  0  0  1  0  0
26   m   0   0   0  1   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28   m   0   0   0  1   0  0  0  0  0  0
29  as   1   0   0  0   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32  as   1   0   0  0   0  0  0  0  0  0
33   a   0   0   0  0   0  0  0  0  0  0
34  aq   0   0   0  0   0  0  0  0  0  0
35  as   1   0   0  0   0  0  0  0  0  0
36  ae   0   1   0  0   0  0  0  0  0  0
37  ak   0   0   0  0   1  0  0  0  0  0
38  ag   0   0   0  0   0  0  0  0  0  0
39  ae   0   1   0  0   0  0  0  0  0  0

In [ ]:
def one_hot_top(data,variable,top_x_labels):
  for label in top_x_labels:
    data[variable+""+label]=np.where(df[variable]==label,1,0)

In [ ]:
df=pd.read_csv("/content/test.csv",usecols= ['X0','X1','X2','X3','X4','X5'])

In [ ]:
one_hot_top(df,'X2',top_10)

In [ ]:
df.head()

   X0 X1  X2 X3 X4 X5  X2as  X2ae  X2ai  X2m  X2ak  X2r  X2n  X2s  X2f  X2e
0  az  v   n  f  d  t     0     0     0    0     0    0    1    0    0    0
1   t  b  ai  a  d  b     0     0     1    0     0    0    0    0    0    0
2  az  v  as  f  d  a     1     0     0    0     0    0    0    0    0    0
3  az  l   n  f  d  z     0     0     0    0     0    0    1    0    0    0
4   w  s  as  c  d  y     1     0     0    0     0    0    0    0    0    0

In [ ]:
top_10=[x for x in df.X1.value_counts().sort_values(ascending=False).head(10).index]
top_10

['aa', 's', 'l', 'b', 'v', 'r', 'i', 'a', 'c', 'o']

In [ ]:
one_hot_top(df,'X1',top_10)
df.head()

   X0 X1  X2 X3 X4 X5  X2as  X2ae  ...  X1l  X1b  X1v  X1r  X1i  X1a  X1c  X1o
0  az  v   n  f  d  t     0     0  ...    0    0    1    0    0    0    0    0
1   t  b  ai  a  d  b     0     0  ...    0    1    0    0    0    0    0    0
2  az  v  as  f  d  a     1     0  ...    0    0    1    0    0    0    0    0
3  az  l   n  f  d  z     0     0  ...    1    0    0    0    0    0    0    0
4   w  s  as  c  d  y     1     0  ...    0    0    0    0    0    0    0    0

[5 rows x 26 columns]

**COUNT/FREQUENCY ENCODING**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data=pd.read_csv("/content/test.csv",usecols=['X1','X2'])

In [ ]:
for col in data.columns:
  print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 45 labels

In [ ]:
data_frequency_map=data.X2.value_counts().to_dict()

In [ ]:
data.X2=data.X2.map(data_frequency_map)

In [ ]:
data.head()

  X1    X2
0  v   113
1  b   462
2  v  1658
3  l   113
4  s  1658

**TARGET GUIDED ORDINAL ENCODING**

In [ ]:
dig=pd.read_csv("/content/titanic_train.csv",usecols=['Survived','Cabin'])

In [ ]:
dig.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
dig['Cabin'].fillna("missing",inplace=True)

In [ ]:
dig['Cabin']=dig['Cabin'].astype(str).str[0]

In [ ]:
dig.head()

   Survived Cabin
0         0     m
1         1     C
2         1     m
3         1     C
4         0     m

In [ ]:
dig.Cabin.unique()

array(['m', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
dig.groupby(['Cabin'])['Survived'].mean() #gives each type of how many are survived in each cabin

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
T    0.000000
m    0.299854
Name: Survived, dtype: float64

In [ ]:
dig.groupby(['Cabin'])['Survived'].mean().sort_values()

Cabin
T    0.000000
m    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [ ]:
ordinal_labels=dig.groupby(['Cabin'])['Survived'].mean().sort_values().index

In [ ]:
ordinal_labels

Index(['T', 'm', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [ ]:
enumerate(ordinal_labels,0)

In [ ]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0) }
ordinal_labels2

{'A': 2, 'B': 6, 'C': 4, 'D': 8, 'E': 7, 'F': 5, 'G': 3, 'T': 0, 'm': 1}

In [ ]:
dig['Cabin_ordinal_labels']=dig['Cabin'].map(ordinal_labels2)

In [ ]:
dig.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     m                     1
1         1     C                     4
2         1     m                     1
3         1     C                     4
4         0     m                     1

**MEAN ENCODING**

In [ ]:
rig=pd.read_csv("/content/titanic_train.csv",usecols=['Survived','Cabin'])
rig.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
rig['Cabin'].fillna('Missing',inplace=True)
rig.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [ ]:
rig['Cabin']=rig['Cabin'].astype(str).str[0]

In [ ]:
rig.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
mean_ordinal=rig.groupby(['Cabin'])['Survived'].mean().to_dict()

In [ ]:
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [ ]:
rig['mean_ordinal_labels']=rig['Cabin'].map(mean_ordinal)
rig.head()

   Survived Cabin  mean_ordinal_labels
0         0     M             0.299854
1         1     C             0.593220
2         1     M             0.299854
3         1     C             0.593220
4         0     M             0.299854

**PROBABILITY RATIO ENCODING**

In [ ]:
data2=pd.read_csv("/content/titanic_train.csv",usecols=['Cabin','Survived'])
data2.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [ ]:
data2['Cabin'].fillna('Missing',inplace=True)

In [ ]:
data2['Cabin']=data2['Cabin'].astype(str).str[0]
data2.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [ ]:
data2['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [ ]:
prob_data2=data2.groupby(['Cabin'])['Survived'].mean()

In [ ]:
prob_data2=pd.DataFrame(prob_data2)
prob_data2

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [ ]:
prob_data2['Dead']=1-prob_data2['Survived']

In [ ]:
prob_data2.head()

       Survived      Dead
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [ ]:
prob_data2['probability_ratio']=prob_data2['Survived']/prob_data2['Dead']
prob_data2.head()

       Survived      Dead  probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [ ]:
probability_encoded=prob_data2['probability_ratio'].to_dict()

In [ ]:
data2['cabin_encoded']=data2['Cabin'].map(probability_encoded)
data2.head()

   Survived Cabin  cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274